@{
    ViewBag.Title = "Home Page";
}

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>
@section MyScripts {
<script>
    $(document).ready(function () {
        
    $('#example').DataTable( {
        "serverSide": true,
        "ajax": {
            "url": "@Url.Action("Get", "Home")",
        "type": "POST"
        },
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "columns": [
            { "data": "FirstName", "autoWidth":true,"orderable":false },
            { "data": "LastName", "autoWidth": true, "orderable": true },
            { "data": "Position", "autoWidth": true, "orderable": true },
            { "data": "Office", "autoWidth": true, "orderable": true },
            { "data": "StartDate", "autoWidth": true, "orderable": true },
            { "data": "Salary", "autoWidth": true, "orderable": true }
        ]
    } );
});
</script>
    }